body {
	background: #655999;
}

h1, h2, h3, h4, h5, h6, {
	color: #FFFFFF;
}

a {
	color: #a9a1cc;
}

#bar {
	background: #4a3f7c;
	box-shadow: #222 0px 3px 2px;
	height: 40px;
}

#bar h1 {
	font-size: 18px;
	padding: 10px;
	color: #FFFFFF;
}

header h2 {
	font-size: 20px;
	padding: 40px 10px 10px 10px;
	color: #FFFFFF;
}

.sub-header h2 {
	text-align: center;
}

#set-username {
	color: #FFFFFF;
}

table thead {
	background: #75ABBF;
	border-color: #75ABBF;
}

table tbody {
	text-align: center;
}

footer {
	color: #FFFFFF;
	font-size: 14px;
	float: right;
	padding-right: 20px;
}
